<html>

    <head>
        <title>Test</title>
    </head>

    <body>
        
        <form action='/results' method="post">   
            <input type="radio" name="d1"  value="1">
            <input type="radio" name="d1" value="2" >
            <input type="radio" name="d1" value="3">
            
            <br>

            <input type="radio" name="d2"  value="1">
            <input type="radio" name="d2" value="2" >
            <input type="radio" name="d1" value="3">
            
            <br>

            <input type="radio" name="d3"  value="1">
            <input type="radio" name="d3" value="2" >
            <input type="radio" name="d3" value="3">

            <input type="submit" name="next">                  
        </form>        
    </body>
</html>